:root {
  --geist-foreground: #fff;
  --geist-background: #000;
  --accents-1: #111;
  --accents-2: #333;
  --accents-3: #444;
  --accents-4: #666;
  --accents-5: #888;
  --accents-6: #999;
  --accents-7: #eaeaea;
  --accents-8: #fafafa;
  --geist-success: #0070f3;
  --geist-error: #e00;
  --geist-warning: #f5a623;
  --font-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --gap: 24px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-sans);
  background: var(--geist-background);
  color: var(--geist-foreground);
  -webkit-font-smoothing: antialiased;
  background-color: #000;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}